<div class="card">
    <div class="optionsWrapper">
        <h2 class="optionsTitle">Registered</h2>
        <div class="cardListItem">
            <a class="cardItemLink" routerLink="registered/products" routerLinkActive="active">Registered Products</a>
        </div>
        <div class="cardListItem">
            <a class="cardItemLink" routerLink="registered/categories">Registered Categories</a>
        </div>
        <div class="cardListItem">
            <a class="cardItemLink" routerLink="registered/orders">Registered Orders</a>
        </div>
    </div>
    <div class="vl"></div>
    <div class="optionsWrapper">
        <h2 class="optionsTitle">Register</h2>
        <div class="cardListItem">
            <a class="cardItemLink" routerLink="register/products">Register Products</a>
        </div>
        <div class="cardListItem">
            <div class="cardListItem">
                <a class="cardItemLink" routerLink="register/categories">Register Categories</a>
            </div>
        </div>
        <div class="cardListItem">
            <a class="cardItemLink" routerLink="register/orders">Register Orders</a>
        </div>
    </div>
</div>
