<form id="registerCategory" (submit)="registerProduct()">
    <div class="cardTitle">
        <button id="returnMenu" style="display: inline-block;" (click)="returnMenu()">Return</button>
        <h1 style="display: inline-block; margin-left: 14px;">Register new product</h1>
    </div>
    <div>
        <label for="productName" class="inputLabel">Product name</label>
        <input type="text" name="productName" id="productName" placeholder="Insert product name..." [(ngModel)]="product_name">
    </div>
    <div>
        <label for="productCategory" class="inputLabel">Product category</label>
        <select name="productCategory" id="productCategory" *ngFor="let category of categories_list" [(ngModel)]="product_category_id">
            <option value="{{ category.category_id }}">{{ category.category_name }}</option>
        </select>
    </div>
    <div>
        <label for="productPrice" class="inputLabel">Product Price</label>
        <input type="number" step="0.1" min="0" name="productPrice" id="productPrice" placeholder="12.34" [(ngModel)]="product_price">
    </div>
    <button type="submit">Save</button>
</form>